main {
    width: calc(100% - 250px);
    background-color: var(--grey-background-color);
    color: white;
    overflow-y: auto;
}
.total{
    display: grid;
    grid-template-columns: 250px 1fr;
}

.login input {
    margin-top: 30px;
    background-color: var(--input-color-background);
    color: var(--text-color-white);
    border: none;
    height: 35px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
}

.title {
    padding-top: 24px;
}

.title h1 {
    color: var(--orange-hover);
    margin-bottom: -5px;
}

.table-box {
    width: 100%;
    overflow-y: auto;
    height: 450px;
}

.btn-acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* scrollbar editada  */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--orange-hover);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--orange-primary-color);
  }